<div class="table-nav-pages">
    {% if pageSizeSelectionLabel %}
        {{ pageSizeSelectionLabel }}
    {% else %}
        Items per page:
    {% endif %}
    <a class="
    {% if paginatorPage.paginator.per_page == 10 and paginatorPage.paginator.per_page < paginatorPage.paginator.count %}
        current
    {% else %}
        page
    {% endif %}
    " 
    title="page size" href="?page=1&pageSize=10&{{ filterQuery }}">10</a>&nbsp;
    <a class="
    {% if paginatorPage.paginator.per_page == 20 and paginatorPage.paginator.per_page < paginatorPage.paginator.count %}
        current
    {% else %}
        page
    {% endif %}
    "
    title="page size" href="?page=1&pageSize=20&{{ filterQuery }}">20</a>&nbsp;
    <a class="
    {% if paginatorPage.paginator.per_page == 50 and paginatorPage.paginator.per_page < paginatorPage.paginator.count %}
        current
    {% else %}
        page
    {% endif %}
    "
    title="page size" href="?page=1&pageSize=50&{{ filterQuery }}">50</a>&nbsp;
    <a class="
    {% if paginatorPage.paginator.per_page >= paginatorPage.paginator.count %}
        current
    {% else %}
        page
    {% endif %}
    "
    title="page size" href="?pageSize={{ paginatorPage.paginator.count }}&{{ filterQuery }}">all&nbsp;({{ paginatorPage.paginator.count }})</a>
</div>