{% extends "ims/products.html" %}
{% load staticfiles %}
{% block extra_scripts %}
    {{ block.super }}
    <script src="{% static 'ims/js/rotate_picture.js' %}" ></script>
    <script src="{% static 'ims/js/tabbed_view.js' %}" ></script>
    <script src="{% static 'ims/js/uuid.js' %}" ></script>
{% endblock extra_scripts %}
{% block breadcrumbs %}
    {{ block.super }}
    <i class="fa fa-angle-double-right"></i>
    {% if product %}
        <a href="{% url 'ims:product_detail' code=product.pk %}">product details</a>
    {% else %}
        <a href="{% url 'ims:product_add' %}">add product</a>
    {% endif %}
{% endblock breadcrumbs %}
{% block content %}
    <table id="report-table">
        <tr>
            <th id="product-thumbnail">
                {% if product.thumbnail_exists %}
                    <img id="image" src="{{ productForm.instance.thumbnail_url }}" alt="{{ productForm.instance.thumbnail_name }}"/>
                {% endif %}
            </th>
        </tr>
        <tr>
            <th>
                {% if product %}
                    <h3>Product: {{ product.name }}</h3>
                {% else %}
                    <h3>New product</h3>
                {% endif %}
            </th>
            {% if paginatedItems %}
                <th><h3>Sites Containing This Product:<i title="filter list"
                    class="fa fa-search fa-lg search search-off" ></i></h3></th>
            {% endif %}
        </tr>
        <tr>
            <td colspan="2">
                {% include "ims/page_navigation.html" %}
            </td>
        </tr>
        {% if product.picture %}
            <tr>
               <th class="tabbed">
                    <ul>
                        <li meta="product-edit-form" title="Product information form" class="tabbed-left {% if picture == 'picture=False' %}tabbed-selected{% endif %}">Details</li>
                        <li meta="product-picture" title="Product picture" class="tabbed {% if picture == 'picture=True' %}tabbed-selected{% endif %}">Picture</li>
                    </ul>
                </th>
                <th></th>
            </tr>
        {% endif %}
        <tr class="cell-frame">
            <td id="product-detail-form" class="cell-frame">
                 {% if product %}
                    {% include "ims/product_details_picture.html" %}
                    {% include "ims/product_details_detail.html" %}
                 {% else %}
                    <div id="product-add-form">
                        <form action="{% url 'ims:product_add' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <table id="form-table">
                                <tr>
                                    <th>
                                        <button title="generate new unique product code" id="generate-code" class="cell-left-btn report-sort"  type="button" >Generate Code</button>
                                    </th>
                                    <th>
                                        {% if canAdd %}
                                            <input title="save new product" class="cell-right-btn" type="submit" value="Save" name="Save">
                                        {% endif %}
                                    </th>
                                    {{ productForm }}
                                    
                                </tr>
                            </table>
                        </form>
                    </div>
                 {% endif %}
            </td>
            {% if paginatedItems %}
                <td id="site-list-form" class="cell-frame">
                    {% if paginatedItems %}
                        <div class="detail-form">
                            <table>
                                <tr>
                                    <tr class="detail-form-header">
                                    <th class="sort-header">Site&nbsp;
                                        <a title="{% if "-" in orderBy.site__name %}sort ascending{% elif orderBy.site__name == 'site__name' %}sort descending{% else %}sort ascending{% endif %}"
                                        href="?page=1{% if "-" in orderBy.site__name %}&orderBy=site__name{% elif orderBy.site__name == 'site__name' %}&orderBy=-site__name{%else %}&orderBy=site__name{% endif %}&{{ filterQuery }}" 
                                        ><i
                                        class="fa {% if "-" in orderBy.site__name %}fa-sort-desc{% elif orderBy.site__name == 'site__name' %}fa-sort-asc{% else %}fa-sort{% endif %}"></i></a>
                                    </th>
                                    <th>Quantity</th>
                                </tr>
                                <tr class="filter-row">
                                    <th id="filter-site__name" >
                                        <input class="filter-field">
                                        </input>
                                        <div class="filter-btn" title="filter" ><i class="fa fa-search"></i></div>
                                    </th>
                                    <th></th>
                                </tr>
                                {% for site in paginatedItems %}
                                    <tr>
                                        <td class="cell-left">
                                            <a title="edit site containing this product in inventory" href="{% url 'ims:site_detail' siteId=site.0.number %}">
                                                {{ site.0.name }}
                                            </a>
                                        </td>
                                        <td class="cell-left">
                                            {{ site.1 }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    {% endif %}
                </td>
            {% endif %}
        </tr>
    </table>
{% endblock content %}