{% extends "ims/products.html" %}
{% load staticfiles %}
{% block extra_scripts %}
    {{ block.super }}
    <script src="{% static 'ims/js/rotate_picture.js' %}" ></script>
    <script src="{% static 'ims/js/tabbed_view.js' %}" ></script>
    <script src="{% static 'ims/js/uuid.js' %}" ></script>
{% endblock extra_scripts %}
{% block breadcrumbs %}
    {{ block.super }}
    &raquo;
    {% if product %}
        <a href="{% url 'ims:product_detail' code=product.pk page=pageNo%}">product details</a>
    {% else %}
        <a href="{% url 'ims:product_add' %}">add product</a>
    {% endif %}
{% endblock breadcrumbs %}
{% block content %}
    <table id="form-table">
        <tr>
            <th id="product-thumbnail">
                {% if product.picture %}
                    <img id="image" src="{{ productForm.instance.thumbnail_url }}" alt="{{ productForm.instance.thumbnail_name }}"/>
                {% endif %}
            </th>
        </tr>
        <tr>
            <th>
                {% if product %}
                    <h3>Product: {{ product.name }}</h3>
                {% else %}
                    <h3>New product</h3>
                {% endif %}
            </th>
            {% if sitesList %}
                <th><h3>Sites Containing This Product:</h3></th>
            {% endif %}
        </tr>
        {% if product.picture %}
            <tr>
               <th class="tabbed">
                    <ul>
                        <li meta="product-edit-form" title="Product information form" class="tabbed-left {% if picture == '' %}tabbed-selected{% endif %}">Details</li>
                        <li meta="product-picture" title="Product picture" class="tabbed {% if picture == 'picture' %}tabbed-selected{% endif %}">Picture</li>
                    </ul>
                </th>
                <th></th>
            </tr>
        {% endif %}
        <tr class="cell-frame">
            <td class="cell-frame">
                 {% if product %}
                    {% include "ims/product_details_picture.html" %}
                    {% include "ims/product_details_detail.html" %}
                 {% else %}
                    <div id="product-add-form">
                        <form action="{% url 'ims:product_add' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <table id="form-table">
                                <tr>
                                    <th>
                                        <button title="generate new unique product code" id="generate-code" class="cell-left-btn report-sort"  type="button" >Generate Code</button>
                                    </th>
                                    <th>
                                        {% if canAdd %}
                                            <input title="save new product" class="cell-right-btn" type="submit" value="Save" name="Save">
                                        {% endif %}
                                    </th>
                                    {{ productForm }}
                                    
                                </tr>
                            </table>
                        </form>
                    </div>
                 {% endif %}
            </td>
            {% if sitesList %}
                <td class="cell-frame">
                    {% if pageNo and numPages %}
                        <div class="table-nav-pages">
                            {% if numPages == 'all' %}
                                {{ sitesList | length }} sites
                                <a href="{% url 'ims:product_detail' code=product.pk page=1 %}">&nbsp;show pages</a>
                            {% else %}
                                <a href="{% url 'ims:product_detail' code=product.pk page=1 %}">&laquo;&nbsp;</a>
                                <a href="{% url 'ims:product_detail' code=product.pk page=previousPageNo %}">&lsaquo;&nbsp;</a>
                                {{ pageNo }} of {{ numPages }}
                                <a href="{% url 'ims:product_detail' code=product.pk page=nextPageNo %}">&nbsp;&rsaquo;</a>
                                <a href="{% url 'ims:product_detail' code=product.pk page=numPages %}">&nbsp;&raquo;</a>
                                <a href="{% url 'ims:product_detail' code=product.pk page='all' %}">&nbsp;show all</a>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if sitesList %}
                        <table>
                            {% for site in sitesList %}
                                <tr>
                                    <td class="cell-left">
                                        <a title="edit site containing this product in inventory" href="{% url 'ims:site_detail' siteId=site.0.number page=1%}">
                                            {{ site.0.name }}
                                        </a>
                                    </td>
                                    <td class="cell-left">
                                        ({{ site.1 }})
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </td>
            {% endif %}
        </tr>
    </table>
{% endblock content %}