{% extends "ims/product_detail.html" %}
{% load staticfiles %}
{% block extra_scripts %}
    {{ block.super }}
    <script src="{% static 'ims/js/rotate_picture.js' %}" ></script>
    <script src="{% static 'ims/js/tabbed_view.js' %}" ></script>
    <script src="{% static 'ims/js/uuid.js' %}" ></script>
{% endblock extra_scripts %}
{% block breadcrumbs %}
    {{ block.super }}
    <i class="fa fa-angle-double-right"></i>
    <a href="{% url 'ims:product_select_add_site' code=product.pk %}">select add site</a>
{% endblock breadcrumbs %}
{% block content %}
    <table id="report-table">
        <tr>
            <th>
                <h3>Product: {{ product.name }}</h3>
            </th>
            {% if paginatedItems %}
                <th><h3>Select a Site to Add Product<i title="filter list"
                    class="fa fa-search fa-lg search search-off" ></i></h3></th>
            {% endif %}
        </tr>
        <tr>
            <td colspan="2">
                {% include "ims/page_navigation.html" %}
            </td>
        </tr>
        <tr class="cell-frame">
            <td id="product-detail-form" class="cell-frame">
                <table id="form-table">
                    {{ productForm }}
                </table>
            </td>
            {% if paginatedItems %}
                <td id="site-list-form" class="cell-frame">
                    {% if paginatedItems %}
                        <div class="detail-form">
                            <table>
                                <tr>
                                    <tr class="detail-form-header">
                                    <th class="sort-header">Site&nbsp;
                                        <a title="{% if "-" in orderBy.name %}sort ascending{% elif orderBy.name == 'name' %}sort descending{% else %}sort ascending{% endif %}"
                                        href="?page=1{% if "-" in orderBy.name %}&orderBy=name{% elif orderBy.name == 'name' %}&orderBy=-name{%else %}&orderBy=name{% endif %}&{{ filterQuery }}" 
                                        ><i
                                        class="fa {% if "-" in orderBy.name %}fa-sort-desc{% elif orderBy.name == 'name' %}fa-sort-asc{% else %}fa-sort{% endif %}"></i></a>
                                    </th>
                                </tr>
                                <tr class="filter-row">
                                    <th id="filter-name" >
                                        <input class="filter-field">
                                        </input>
                                        <div class="filter-btn" title="filter" ><i class="fa fa-search"></i></div>
                                    </th>
                                </tr>
                                {% for site in paginatedItems %}
                                    <tr>
                                        <td class="cell-left">
                                            <a title="add product to this site's inventory" href="{% url 'ims:product_add_to_site_inventory' code=product.code siteId=site.number %}">
                                                {{ site.name }}
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    {% endif %}
                </td>
            {% endif %}
        </tr>
    </table>
{% endblock content %}