{% extends "ims/home.html" %}
{% load staticfiles %}
{% block extra_scripts %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> 
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <script>
        "use strict";
        $(document).ready(function() {
            $("#id_startDate").change(function(){
                var query = "?";
                $("[id$=Date]").each(function(){
                    var thisDate = $(this).val();
                    var thisParam = $(this).attr("id").slice(3);
                    query += thisParam + "=" + thisDate + "&";
                });
                $("[id$=-print]").each(function(){
                    var basePath = $(this).attr("href").replace(/\?.*/,"");
                    $(this).attr("href", basePath + query.slice(0,-1));
                });
            });
            $("#id_stopDate").change(function(){
                var query = "?";
                $("[id$=Date]").each(function(){
                    var thisDate = $(this).val();
                    var thisParam = $(this).attr("id").slice(3);
                    query += thisParam + "=" + thisDate + "&";
                });
                $("[id$=-print]").each(function(){
                    var basePath = $(this).attr("href").replace(/\?.*/,"");
                    $(this).attr("href", basePath + query.slice(0,-1));
                });
            });
            $('#id_startDate').attr('class','datepicker');
            $('#id_stopDate').attr('class','datepicker');
            $('.datepicker').datepicker();
            $('.datepicker').datepicker("option", "dateFormat", "mm-dd-yy");
            var startDate = "{{ startDate }}";
            var stopDate = "{{ stopDate }}";
            $( '#id_startDate' ).val( startDate );
            $( '#id_stopDate' ).val( stopDate );
            $( '#id_startDate' ).change();
            $( '#id_stopDate' ).change();
        });
    </script>
{% endblock extra_scripts %}
{% block breadcrumbs %}
    {{ block.super }}
    <i class="fa fa-angle-double-right"></i>
    <a href="{% url 'ims:reports' %}">reports</a>
{% endblock breadcrumbs %}
{% block content %}
    <table id="report-table">
        <tr>
            <th colspan="2">
                Report Dates
            </th>
        </tr>
        <tr>
            <td>
                {{ dateSpanForm }}
            </td>
        </tr>
    </table>
    <table id="report-table">
        <tr>
            <th colspan="2">
                <h3>Reports:</h3>
            </th>
        </tr>
        <tr>
            <td class="cell-frame">
                <table id="report-table">
                    <tr class="bottom-bordered-row">
                        <th class="left-column report-column">
                            Site Reports
                        </th>
                        <th class="report-column">
                            Product Reports
                        </th>
                    </tr>
                    <tr>
                        <th class="left-column cell-center-btn">
                            Site Inventory
                        </th>
                        <th class="cell-center-btn">
                            Inventory Detail
                        </th>
                    </tr>
                    <tr class="bottom-bordered-row">
                        <td class="left-column report-column">
                            <a id="site-inventory-print" title="create site inventory print view" class="report-sort" href="{% url 'ims:site_inventory_print'%}">print view</a>
                        </td>
                        <td>
                            <a id="inventory-detail-print" title="create inventory detail print view" class="report-sort" href="{% url 'ims:inventory_detail_print' %}">print view</a>
                        </td>
                    </tr>
                    <tr>
                        <th class="left-column cell-center-btn">
                            Site Detail
                        </th>
                        <th class="cell-center-btn">
                            Inventory Status
                        </th>
                    </tr>
                    <tr>
                        <td class="left-column">
                            <a id="site-detail-print" title="create site detail print view" class="report-sort" href="{% url 'ims:site_detail_print' %}">print view</a>
                        </td>
                        <td>
                            <a id="inventory-status-print" title="create inventory status print view" class="report-sort" href="{% url 'ims:inventory_status_print' %}">print view</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br />
{% endblock content %}