{% extends "ims/sites.html" %}
{% load staticfiles %}
{% block extra_scripts %}
    {{ block.super }}
    <script src="{% static 'ims/js/tabbed_view.js' %}" ></script>
{% endblock extra_scripts %}
{% block breadcrumbs %}
    {{ block.super }}
    &raquo;
    {% if site %}
        <a href="{% url 'ims:site_detail' siteId=site.number %}?{{ adjust }}">site details</a>
    {% else %}
        <a href="{% url 'ims:site_add' %}">add site</a>
    {% endif %}
{% endblock breadcrumbs %}
{% block content %}
        <table id="form-table">
            <tr>
                <th>
                    {% if site %}
                        <h3>Site: {{ site.name }} (#{{ site.number }})</h3>
                    {% else %}
                        <h3>New site</h3>
                    {% endif %}
                </th>
                {% if inventoryAdjustForms.total_form_count %}
                    <th><h3>Inventory:</h3></th>
                {% endif %}
            </tr>
            {% if inventoryAdjustForms.total_form_count %}
                <tr>
                    <th></th>
                    <th class="tabbed">
                        <ul>
                            <li meta="adjust-quantity-form" title="Change total quantity for this item" class="tabbed-left {% if adjust == 'adjust' %}tabbed-selected{% endif %}">Adjust Total Inventory</li>
                            <li meta="add-subtract-form" title="Add or subtract inventory from the total quantity of this product" class="tabbed {% if adjust == '' %}tabbed-selected{% endif %}">Add/Subtract Inventory</li>
                        </ul>
                    </th>
                </tr>
            {% endif %}
            <tr class="cell-frame">
                <td class="cell-frame">
                    {% if site %}
                        <form action="{% url 'ims:site_detail' siteId=site.number  %}" method="post">
                    {% else %}
                        <form action="{% url 'ims:site_add' %}" method="post">
                    {% endif %}
                    {% csrf_token  %}
                        <table>
                            <thead>
                                <tr>
                                    <th colspan="2">
                                        {% if canChangeSite %}
                                            <input title="save changes to site information" class="cell-left-btn" type="submit" value="Save Site" name="Save Site">
                                        {% endif %}
                                        {% if inventoryAdjustForms.total_form_count == 0  and site and canAdd %}
                                            <input title="add new products to site inventory" class="cell-right-btn" type="submit" value="Add New Inventory" name="Add New Inventory">
                                        {% endif %}
                                    </th>
                                </tr>
                            </thead>
                            <tr>
                                <th>
                                    <label>
                                        Modified:
                                    </label>
                                </th>
                                <td>
                                    <input readonly="readonly" value="{{ siteForm.instance.modified }}">
                                    <br />
                                    <span class="helptext">
                                        last modified on this date
                                    </span>
                                </td>
                            </tr>
                            {{ siteForm }}
                        </table>
                    </form>
                </td>
                {% if inventoryAdjustForms.total_form_count %}
                    <td class="cell-frame">
                        {% if pageNo and numPages %}
                            <div class="table-nav-pages">
                                {% if numPages == 'all' %}
                                    {{ inventoryAdjustForms.total_form_count }} inventory items
                                    <a href="{% url 'ims:site_detail' siteId=site.number page=1 %}">&nbsp;show pages</a>
                                {% else %}
                                    <a href="{% url 'ims:site_detail' siteId=site.number page=1 %}">&laquo;&nbsp;</a>
                                    <a href="{% url 'ims:site_detail' siteId=site.number page=previousPageNo %}">&lsaquo;&nbsp;</a>
                                    {{ pageNo }} of {{ numPages }}
                                    <a href="{% url 'ims:site_detail' siteId=site.number page=nextPageNo %}">&nbsp;&rsaquo;</a>
                                    <a href="{% url 'ims:site_detail' siteId=site.number page=numPages %}">&nbsp;&raquo;</a>
                                    <a href="{% url 'ims:site_detail' siteId=site.number page='all' %}">&nbsp;show all</a>
                                {% endif %}
                            </div>
                        {% endif %}
                        {% include "ims/site_inventory_adjust_total.html" %}
                        {% include "ims/site_inventory_add_subtract.html" %}
                    </td>
                {% endif %}
            </tr>
        </table>
    </form>
{% endblock content %}