{% extends "ims/sites.html" %}
{% block breadcrumbs %}
    {{ block.super }}
    &raquo;
    {% if site %}
        <a href="{% url 'ims:site_detail' siteId=site.number %}?{{ adjust }}">site details</a>
    {% else %}
        <a href="{% url 'ims:site_add' %}">add site</a>
    {% endif %}
{% endblock breadcrumbs %}
{% block content %}
    {% if site %}
        <form action="{% url 'ims:site_detail' siteId=site.number  %}?{{ adjust }}" method="post">
    {% else %}
        <form action="{% url 'ims:site_add' %}" method="post">
    {% endif %}
        <table id="form-table">
            <tr>
                <th>
                    {% if site %}
                        <h3>Site: {{ site.name }} (#{{ site.number }})</h3>
                    {% else %}
                        <h3>New site</h3>
                    {% endif %}
                </th>
                {% if inventoryForms.total_form_count %}
                    <th><h3>Inventory:</h3></th>
                {% endif %}
            </tr>
            {% if inventoryForms.total_form_count %}
                <tr>
                    <th></th>
                    <th class="tabbed">
                        <ul>
                            <li class="tabbed-left {% if adjust == 'adjust' %}tabbed-selected{% endif %}"><a href="{% url 'ims:site_detail' siteId=site.number %}?adjust">Adjust Total Inventory</a></li>
                            <li class="tabbed {% if adjust == '' %}tabbed-selected{% endif %}"><a href="{% url 'ims:site_detail' siteId=site.number %}">Add/Subtract Inventory</a></li>
                        </ul>
                    </th>
                </tr>
            {% endif %}
            <tr class="cell-frame">
                <td class="cell-frame">
                    {% csrf_token  %}
                    <table>
                        <thead>
                            <tr>
                                <th colspan="2">
                                    {% if canChangeSite %}
                                        <input title="save changes to site information" class="cell-left-btn" type="submit" value="Save Site" name="Save Site">
                                    {% endif %}
                                    {% if inventoryForms.total_form_count == 0  and site and canAdd %}
                                        <input title="add new products to site inventory" class="cell-right-btn" type="submit" value="Add New Inventory" name="Add New Inventory">
                                    {% endif %}
                                </th>
                            </tr>
                        </thead>
                        <tr>
                            <th>
                                <label>
                                    Modified:
                                </label>
                            </th>
                            <td>
                                <input readonly="readonly" value="{{ siteForm.instance.modified }}">
                                <br />
                                <span class="helptext">
                                    last modified on this date
                                </span>
                            </td>
                        </tr>
                        {{ siteForm }}
                    </table>
                </td>
                {% if inventoryForms.total_form_count %}
                    <td class="cell-frame">
                        {% csrf_token  %}
                        {% if pageNo and numPages %}
                            <div class="table-nav-pages">
                                {% if numPages == 'all' %}
                                    {{ inventoryForms.total_form_count }} inventory items
                                    <a href="{% url 'ims:site_detail' siteId=site.number page=1 %}">&nbsp;show pages</a>
                                {% else %}
                                    <a href="{% url 'ims:site_detail' siteId=site.number page=1 %}">&laquo;&nbsp;</a>
                                    <a href="{% url 'ims:site_detail' siteId=site.number page=previousPageNo %}">&lsaquo;&nbsp;</a>
                                    {{ pageNo }} of {{ numPages }}
                                    <a href="{% url 'ims:site_detail' siteId=site.number page=nextPageNo %}">&nbsp;&rsaquo;</a>
                                    <a href="{% url 'ims:site_detail' siteId=site.number page=numPages %}">&nbsp;&raquo;</a>
                                    <a href="{% url 'ims:site_detail' siteId=site.number page='all' %}">&nbsp;show all</a>
                                {% endif %}
                            </div>
                        {% endif %}
                        {% if adjust == 'adjust' %}
                            {% include "ims/site_inventory_adjust_total.html" %}
                        {% else %}
                            {% include "ims/site_inventory_add_subtract.html" %}
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        </table>
    </form>
{% endblock content %}